#Insercao {
    display: none;
}

.PapelCaneta {
    height: 85%;
    width: 75vh;
    position: absolute;
    top: 8%;
    left: 50%;
    opacity: 50%;
}

#MenuInsercao {
    height: 40vh;
    width: 60vh;
    position: relative;
    top: 30vh;
}

.TextoPontuacao {
    font-size: 5vh;
    position: relative;
    left: 5%;
    top: 7%;
}

.CampoInsercao {
    width: 60%;
    height: 17%;
    position: relative;
    top: 12%;
    left: 20%;
    border: solid .2vh black;
    text-align: center;
    font-size: 4vh;
    color: black;
}

.BotaoInserir {
    width: 30%;
    height: 13%;
    position: absolute;
    top: 51%;
    left: 35%;
    border: solid .2vh black;
    font-size: 2vh;
}

#VoltarInsercao {
    position: absolute;
    top: 68%;
    left: 42%;
}

.Saida {
    height: 5vh;
    border: solid .3vh black;
}

.Saida:hover {
    cursor: pointer;
    border-width: .5vh;
    opacity: 80%;
}