.PapelCaneta {
    width: 90vh;
    height: 90vh;
    position: absolute;
    top: 8vh;
    left: 100vh;
    opacity: 50%;
    display: none;
}

#MenuInsercao {
    height: 40vh;
    width: 60vh;
    position: relative;
    top: 30vh;
    display: none;
}

.TextoPontuacao {
    color: white;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 5vh;
    position: relative;
    left: 5%;
    top: 7%;
    display: none;
}

.Campo {
    width: 60%;
    height: 17%;
    position: relative;
    top: 12%;
    left: 20%;
    border: solid .2vh black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 4vh;
    font-weight: bold;
    display: none;
}

.BotaoInserir {
    width: 30%;
    height: 13%;
    position: relative;
    top: 17%;
    left: 34%;
    border: solid .2vh black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 2vh;
    display: none;
}

.SaidaInsercao {
    height: 12%;
    border: solid .3vh black;
    position: relative;
    top: 24%;
    left: 41.5%;
    display: none;
}

.SaidaInsercao:hover {
    cursor: pointer;
    border-width: .5vh;
    opacity: 80%;
    display: none;
}