body {
    background-color: rgb(40, 40, 40);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#Inicio {
    width: 90vh;
    height: 90vh;
    position: absolute;
    top: 5vh;
    display: none;
}

.Bola {
    width: 100%;
    height: 100%;
    opacity: 80%;
}

.Texto {
    color: white;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    display: none;
}

.BemVindo {
    font-size: 6.5vh;
    top: 21vh;
    left: 18.5vh;
}

.Selecione {
    font-size: 3.3vh;
    top: 30vh;
    left: 25vh;
}

.Botao {
    width: 50vh;
    height: 10vh;
    position: absolute;
    border-style: solid;
    border-width: .4vh;
    border-color: black;
    font-size: 5vh;
    font-weight: bold;
    display: none;
}

#Inserir {
    top: 37vh;
    left: 19.5vh;
}

#Consultar {
    top: 49vh;
    left: 19.5vh;
}

.Sobre {
    width: 20vh;
    height: 7vh;
    border-style: solid;
    border-width: .4vh;
    border-color: black;
    font-size: 3vh;
    font-weight: bold;
    position: absolute;
    top: 63vh;
    left: 34vh;
    display: none;
}