.PapelCaneta {
    width: 90vh;
    height: 90vh;
    position: absolute;
    top: 8vh;
    opacity: 50%;
    display: none;
}

.TextoPontuacao {
    color: white;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 5vh;
    position: relative;
    left: -4vh;
    top: 35vh;
    display: none;
}

.Campo {
    width: 35vh;
    height: 7vh;
    position: relative;
    top: 37vh;
    left: 5.5vh;
    border: solid .2vh black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 4vh;
    font-weight: bold;
    display: none;
}

.BotaoInserir {
    width: 20vh;
    height: 5vh;
    position: relative;
    left: 13vh;
    top: 40vh;
    border: solid .2vh black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 2vh;
    display: none;
}

.Saida {
    height: 5vh;
    border: solid .3vh black;
    position: relative;
    top: 43vh;
    left: 18vh;
    display: none;
}

.Saida:hover {
    cursor: pointer;
    border-width: .5vh;
    opacity: 80%;
    display: none;
}