#Tabela {
    position: relative;
    margin-top: 5vh;
    display: none;
}

.LayoutTabela {
    width: 100%;
    text-align: center;
    opacity: 90%;
}

#VoltarConsultaTabela {
    position: relative;
    left: 45%;
}