#MenuConsultaMinMax {
    display: none;
    width: 55vh;
    height: 45vh;
    position: relative;
    top: 30vh;
}

.PainelMinMax {
    background-color: orangered;
    height: 50%;
    width: 45%;
    border: solid .5vh black;
    position: absolute;
    text-align: center;
}

#Min {
    top: 0%;
    left: 0%;
}

#Max {
    top: 0%;
    left: 55%;
}


.TxtMinMax {
    font-size: 4vh;
    margin-top: 10%;
}

.NumMinMax {
    font-size: 6vh;
    margin-top: 12%;
}

#VoltarConsultaMinMax {
    position: absolute;
    top: 60%;
    left: 41.7%;
}