#Consulta {
    display: none;
}

.bd {
    height: 90%;
    width: 75vh;
    position: absolute;
    top: 7%;
    left: 10%;
    opacity: 70%;
}

#MenuConsulta {
    position: relative;
    height: 60vh;
    width: 90vh;
    top: 15vh;
    text-align: center;
    display: none;
}

.TextoPergunta {
    font-size: 4vh;
    position: relative;
    top: 15%;
}

.BotaoPergunta {
    height: 7vh;
    width: 55vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 3vh;
    border: solid .2vh black;
    position: absolute;
    left: 19.5%;
}

#PorNumero {
    top: 30%;
}

#MinMax {
    top: 45%;
}

#VerTabela {
    top: 60%;
}

#VoltarConsulta {
    position: absolute;
    top: 77%;
    left: 45%;
}