#MenuConsultaNumero {
    height: 60vh;
    width: 130vh;
    position: relative;
    top: 20vh;
    text-align: center;
    display: none;
}

.TextoConsultaNumero {
    font-size: 5vh;
    position: relative;
    top: 5%;
}

.CampoConsultaNumero {
    width: 30%;
    height: 17%;
    position: absolute;
    top: 20%;
    left: 5%;
    border: solid .2vh black;
    text-align: center;
    color: black;
    font-size: 5vh;
}

.CampoResultadoNumero {
    color: black;
    font-size: 1.5vh;
    width: 59%;
    position: absolute;
    top: 20%;
    left: 35.5%;
    border: solid .2vh black;
    text-align: center;
    resize: none;
}

.BotaoConsultaNumero {
    height: 15%;
    width: 30%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 4vh;
    border: solid .2vh black;
    position: absolute;
    top: 38%;
    left: 5%;
}

#VoltarConsultaNumero {
    position: absolute;
    top: 57%;
    left: 45%;
}